---
import "selo-components/common.css"; // has to be above site-specific css

import "@/global.css";
import Layout from "../components/Layout.astro";
---

<Layout title="Hi Criso!" description="Feel free to change this to your liking">
    <h1>About this template</h1>
    <a href="www.google.com">meu</a>
</Layout>
