---
import "selo-components/common.css"; // has to be above site-specific css

import "@/global.css";
import Layout from "../components/Layout.astro";
---

<Layout title="Blog" description="Feel free to change this to your liking">
    <p>TODO: Make a blogposts list here</p>
</Layout>
