---
import "selo-components/common.css"; // has to be above site-specific css

import "@/global.css";
import Layout from "../components/Layout.astro";
---

<Layout title="Hi Criso!" description="Feel free to change this to your liking">
    <ul>
        <li>This template comes from <a href="https://github.com/pona-la/selo.pona.la/">here</a> and uses components from <a href="https://github.com/pona-la/selo-components/">here</a></li>
    </ul>
    <ol>
        <li>Install <a href="https://pnpm.io/">pnpm</a> to use Astro</li>
        <li>Run `pnpm i` in the website folder to install dependencies</li>
        <li>Run `pnpm run dev` to run the dev server, it will show live updates, you can open it in your browser.</li>
    </ol>
    <p>Some stuff here is a bit of a mess btw, contact me if u need any help :3</p>
</Layout>
