---
import Discord from "public/svg/discord.svg";
import Github from "public/svg/github.svg";
import Youtube from "public/svg/youtube.svg";
---

<style>
  div {
    margin-top: 10px;
    text-align: center;
    /*opacity: 90%;*/
  }
  a > * {
    margin: 3px;
    display: inline-block;
    max-width: 40px;
    border-radius: 10px;
  }
  svg {
    fill: #999;
  }
  html.dark svg {
    fill: #333;
  }
  /*svg:not(:hover) {
    fill: var(--grey);
  }*/
  svg:hover {
    /*fill: var(--accent) !important;*/
    transform: scale(1.1);
  }
</style>
<div>
  <a href="https://discord.com/users/1133806955526377564"><Discord /></a>
  <a href="https://www.youtube.com/channel/UCfoTCA9UnYMoT4foRejApzw"><Youtube /></a>
  <a href="https://github.com/Criso-a"><Github /></a>
</div>